.footer{
    height: 30vh;
    display: flex;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); 
    
    
    align-items: center;
    justify-content: center;
}
.address{
    font-size: 1.75rem;
}
footer section div{
    width: 25vw;
    padding-left: 3%;
    color: #fff;

}

img{
    padding: 2vh;
}
.copyright{
    text-align: center;
    background-color: rgb(17, 4, 4);
    font-size: 2vh;
    color: beige;
    
}
*{
    margin: 0;
    padding: 0;
}
.address h1{
    font-size: 4rem;
    font-weight: 600;
    color: rgb(234, 240, 240);
}
#Aboutpara{
    display: flex;
}
#aboutwork h3{
    font-size: 2rem;
}
#About h2{
    font-size: 2rem;
}
#aboutwork{
    width: 40%;
    padding: 1%;
    background-color: rgb(202, 240, 209);
    height: 30vh;
}
#social{
    width: 40%;
    font-size: 1.5rem;
    padding: 1%;
    background-color: rgb(202, 240, 209);
    height: 20vh;
}
#About {
    padding: 1%;
    width: 120vw;
}
#purpose h1{
    transform: translate(30vh);
}